h1 {
	border: 2px solid #959492;
	background: white;
	padding: 10px;
}

.container {
	background: #EFEEEC;
	border: 3px solid #959492;
	margin-top: 10px;
	margin-bottom: 10px;
}

.row .col-md-7 .col-md-12 {
	border: 1px solid #959492;
	padding-left: 8px;
	background: white;
}

.row .col-md-5 .col-md-12 {
	border: 1px solid #959492;
	padding-left: 8px;
	background: white;
}

.row .col-md-7 {
	font-size: 16px
}
.row .col-md-5 {
	font-size: 16px
}

img {
	float: right;
	width: 25%;
	margin-top: 5px;
	margin-right: 35px;
	margin-bottom: 15px;
}

.about_alex p {
	font-size: 16px;
}

.about_alex ul {
	font-size: 16px;
}

.about_alex h3 {
	border: 1px solid #959492;
	background: white;
	padding: 6px;
}

/* Desktop to mobile */
@media screen and (max-width: 992px) {
	img {
		display: none;
	}
}

p {
	font-size: 16px;
}

span {
	font-style: italic;
}
